<header>
  <h1>Mon Parcours</h1>

<div class="presentation">
  <p>Je travaillais dans la restauration principalement à l'étranger;</p>
    <p>De retour à Montpellier j'ai décidé de me réorienter dans le développement web & web mobile car je suis passioné par les nouvelles technologies.</p>
  <p>J'ai donc validé ce choix par l'obtention du diplôme développeur web et web mobile</p>
  <p>Désormais je me spécialise essentiellement en Python et Angular</p>
  <p>Je suis quelqu'un de curieux qui n'a pas peur de se remettre en question si besoin</p>
</div>
</header>

<body>
<h3 id="title">Technologies préférèes:</h3>

<mat-grid-list class="list-course" [cols]="mobileQuery.matches ? '1' : '3'" [rowHeight]="mobileQuery.matches ? '2:2' : '2:2.5' ">

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <h3>Python</h3>
      </mat-card-header>
      <img [src]="python" alt=""/>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <h3>Angular</h3>
      </mat-card-header>
      <img [src]="angular" alt=""/>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <h3>PHP / Symfony</h3>
      </mat-card-header>
      <img [src]="symfony" alt=""/>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</body>

