img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
*{
  margin: auto;

}
.mail{
  text-align: center;
}
.presentation{
  text-align: center;
  margin-bottom: 100px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}
#title{
  margin-bottom: -100px;
}

