<div mat-dialog-actions align="end">
<button class="button-close" mat-button (click)="closeModal()">X</button>
</div>
<!--<div *ngIf="data.photos !== null else empty">-->

<mat-tab-group >
  <mat-tab *ngFor="let photo of data.photos;let i = index" label="{{i}}" >
    <div class="tab">
    <img alt="image" src="{{photo}}"/>
      </div>
  </mat-tab>
</mat-tab-group>

<!--</div>-->
<!--<ng-template #empty>-->
<!--  <h3>Pas de visuel pour le moment...</h3>-->
<!--</ng-template>-->
