img{
  width: 60%;
  height: 60%;
}
.button-close {
  text-align: center;
  background-color: red;
  color: white;
  align-items: end;
  justify-content: flex-end;
}
.tab{
  text-align: center;
  align-items: center;
  justify-content: center;
}
