<h1>Mes projets réalisés</h1>

<mat-grid-list class="" [cols]="mobileQuery.matches ? '1' : '3'" [rowHeight]="mobileQuery.matches ? '2:2' : '2:3' ">

    <mat-grid-tile *ngFor="let slide of data" >
      <mat-card class = "tp-card">
        <mat-card-header>
          <div mat-card-avatar class = "tp-header-image"></div>
          <mat-card-title class="title">{{slide.name}}</mat-card-title>
          <mat-card-subtitle>{{slide.description}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{slide.icon}}" alt ="image">

        <mat-card-content>
          <span>Technologies utilisées:</span>
          <p>{{slide.technologies}}
          </p>
        </mat-card-content>
        <mat-card-actions class="mat-button center">

          <a href="{{slide.gitlab}}"><img src="../../../assets/logos/gitlab.png" alt="" class="gitlab" /></a>

          <button class="button" *ngIf="slide.photos"
          [color]="mobileQuery.matches ? 'primary' : 'secondary'"
          mat-button (click)="openModal(slide)">Visuel</button>


          <button
          class="button"
          *ngIf="slide.site"
            [color]="mobileQuery.matches ? 'primary' : 'secondary'"
            (click)="openRouter(slide.site)"
            mat-button
            >Site</button>


        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>


</mat-grid-list>
