h1 {
  margin-top: 20px;
}
footer{
  margin-top: 50px;
  padding-top: 50px;
  text-align: center;
}
#linkedin{
  margin-right: 50px;
  margin-left: 50px;
  max-height: 30px;
  max-width: 30px;
}
#gitlab{
  max-height: 30px;
  max-width: 30px;
}
#mail{
  max-height: 30px;
  max-width: 30px;
}

img {
  width: 50px;
  height: 50px;
}

.example-container {
  height: 100%;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-toolbar {
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  button {
    margin-right: 16px;
  }
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
  margin-top: 56px;
}

.toolbar-title {
  margin-right: 16px;
}

.navbar {
  margin-left: auto;
}

.example-sidenav-container {
  a.active {
    background-color: #00000024;
  }
}
.navbar {
  a.active {
    background-color: #00000018;
  }
}
