<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar
    class="example-toolbar"
    [color]="mobileQuery.matches ? 'primary' : 'secondary'"
  >
    <button
      *ngIf="mobileQuery.matches"
      mat-icon-button
      aria-label="Toggle Sidenav Menu"
      (click)="sideNav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="toolbar-title">
<!--      {{ mobileQuery.matches ? "Mobile" : "Desktop" }}-->
    </h1>
    <div class="navbar" *ngIf="!mobileQuery.matches">
      <a
        *ngFor="let menuItem of menuItems"
        mat-button
        [routerLink]="menuItem.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span>{{ menuItem.label }}</span></a
      >
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav
      #sideNav
      [fixedInViewport]="mobileQuery.matches"
      [fixedTopGap]="mobileTinyQuery.matches ? '48' : '56'"
      #sidenav
      mode="over"
    >
      <mat-nav-list>
        <a
          *ngFor="let menuItem of menuItems"
          mat-list-item
          [routerLink]="menuItem.link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >
          <mat-icon matListIcon>{{ menuItem.icon }}</mat-icon>
          <span matLine
                (click)="sidenav.toggle()"
          >{{ menuItem.label }}</span></a
        >
      </mat-nav-list>
    </mat-sidenav>

    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>


<footer>
  <a href="mailto:ledain.alexis@gmail.com"><img src="../assets/logos/gmail.jpeg" alt="" id="mail"/></a>
  <a href="https://www.linkedin.com/in/alexis-le-dain/"><img src="../assets/logos/linkedin.jpeg" alt="" id="linkedin" /></a>
  <a href="https://gitlab.com/Alex347"><img src="../assets/logos/gitlab.png" alt="" id="gitlab" /></a>
</footer>
<!--  <div class="mail">-->
<!--  <span>N'hésitez pas à me contacter  :  </span>-->
<!--  <a href="mailto:ledain.alexis@gmail.com">ledain.alexis@gmail.com</a>-->
<!--</div>-->
</div>
