
<h1>Bienvenue sur mon site</h1>
<h3>Sur ce site vous pouvez trouver mes projets, mon parcours, mes passions...</h3>

<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="accent"
  maxWidth="auto"
  proportion="30"
  slides="5"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    *ngFor=" let slide of data ; let i = index"
    image="{{slide.icon}}"
    overlayColor="#00000040"
    [hideOverlay]="false"
  ></mat-carousel-slide>
</mat-carousel>

