<h1>Mes passions</h1>


    <mat-grid-list [cols]="mobileQuery.matches ? '1' : '2'" [rowHeight]="mobileQuery.matches ? '2:2' : '2:1' ">

      <mat-grid-tile>
        <mat-card class = "tp-card">
          <mat-card-header>
            <div mat-card-avatar class = "tp-header-image"></div>
        <mat-card-title>
          le sport
        </mat-card-title>
            <mat-card-subtitle>
              nager, courir, ping-pong...
            </mat-card-subtitle>
          </mat-card-header>
          <img [src]="sport" alt=""/>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class = "tp-card">
          <mat-card-header>
            <div mat-card-avatar class = "tp-header-image"></div>
            <mat-card-title>
              le foot
            </mat-card-title>
            <mat-card-subtitle>
              je sais on a tous des défaults ;)
            </mat-card-subtitle>
          </mat-card-header>
          <img [src]="football" alt=""/>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class = "tp-card">
          <mat-card-header>
            <div mat-card-avatar class = "tp-header-image"></div>
            <mat-card-title>
              les voyages
            </mat-card-title>
            <mat-card-subtitle> et les cultures différentes</mat-card-subtitle>
          </mat-card-header>
          <img [src]="travel" alt=""/>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class = "tp-card">
          <mat-card-header>
            <div mat-card-avatar class = "tp-header-image"></div>
            <mat-card-title>
              les projets funs
            </mat-card-title>
            <mat-card-subtitle>
              avec de la robotique ainsi que des objets connectés
            </mat-card-subtitle>
          </mat-card-header>
          <img [src]="project" alt=""/>
        </mat-card>
      </mat-grid-tile>

    </mat-grid-list>
