/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: auto; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1, h2, h3, h4{text-align: center;}

