<h2>La formation BeWeb</h2>
<img [src]="myBackgroundImageUrl" alt=""/>

<div>
  <p>« Motivation, passion et dynamisme, voilà quelques mots pour décrire les apprenants ayant intégrés beWeb.  » La Gazette de Montpellier</p>
  <p>Un état d’esprit collaboratif et positif. Beaucoup de travail en équipe et de partage ; c’est la philosophie open source. Une communauté de curieux toujours à l’affût de nouvelles technologies et bonnes pratiques à utiliser dans les projets.</p>
</div>
<br><br>
<div>
      <h4>Méthodes pédagogiques</h4>
      <p>S’inspirant des pratiques professionnelles dans le développement informatique, la méthode pédagogique s’appuie sur les leviers d’apprentissage basés sur :</p>
      <p>  L’apprentissage par la pratique (learning by doing) : mise en situation de réalisations concrètes tout au long de la formation et organisation en mode projet (méthodes agiles) – Exemples de projets réalisés lors de la dernière promotion en partenariat avec des porteurs de projets incubés au sein d’Alter’Incub et du BIC (Feel U – La Menuiserie Collaborative – Les Expos à la Maison – MedTrucks – LaMusive – MatchUpBox)</p>
      <p>Le développement des capacités d’apprentissage (apprendre à apprendre): la formation a pour objectif d’apporter aux apprenant.e.s les attitudes du/de la développeur·se, pour qu’ils/elles puissent ensuite progresser (pendant leur formation et après dans leur travail) en toute autonomie.</p>
      <p>La programmation en binôme (pair programing) : la communauté est au cœur de l’apprentissage, d’autant plus que la programmation en équipe est une pratique de plus en plus répandue et connue pour augmenter la productivité des développeurs.</p>
      <p>Des mises en situation de transmission  (learning by teaching) comme booster d’acquisition des compétences. Chaque stagiaire est amené à restituer régulièrement aux autres les réalisations produites et les connaissances acquises.</p>
      <p>Une immersion permanente avec les professionnels du secteur en multipliant les rencontres et les liens avec l’éco-système numérique (Master Class, Evènement, Hackathon…)</p>
</div>
<br><br>
<h3>
    Programme & compétences développées
  </h3>

<mat-grid-list cols="4">
<mat-grid-tile>
  <div>
  <h5>Écosystème & culture numérique</h5>
    <ul>

      <li>Outils & environnement open source</li>
      <li>Ubuntu</li>
      <li>Visual Studio Code</li>
    </ul>
  </div>
</mat-grid-tile>

  <mat-grid-tile>
    <div>
  <h5>Gérer un projet web</h5>
  <ul>
    <li>Méthodes agiles</li>
    <li>Gestion de planning (Trello)
    <li>Carnet de bord (Framapad)</li>
    <li> Versionning (Git) </li>
  </ul>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
    <h5>Développement Front-End</h5>
    <ul>
      <li>Maquetter une application</li>
      <li>Réaliser une interface utilisateur web statique et adaptable</li>
      <li>Développer une interface utilisateur web dynamique</li>
      <li>Réaliser une interface utilisateur avec un CMS</li>
    </ul>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
    <h5>Développement Back-End</h5>
    <ul>
      <li>Créer une base de données</li>
      <li>Développer les composants d'accès aux données</li>
      <li>Développer la partie back-end d'une application web ou web mobile</li>
      <li>Élaborer et mettre en oeuvre des composants dans une application de gestion de contenu ou e-commerce</li>
    </ul>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
    <h5>Maîtriser les langages de programmation</h5>
    <ul>
      <li>HTML / CSS</li>
      <li>JavaScript</li>
      <li>PHP</li>
      <li>SQL</li>
      <li>TypeScript</li>
    </ul>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
    <h5>Utiliser des Frameworks</h5>
    <ul>
      <li>CSS : Bootstrap, Foundation...</li>
      <li> Javascript : Jquery, AngularJS...</li>
      <li>PHP : Symfony, CodeIgniter...</li>
      <li>TypeScript : Angular, Ionic... </li>
    </ul>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
    <h5>Utiliser l'anglais</h5>
    <ul>
      <li>Comprendre la documentation technique</li>
      <li>Savoir réaliser des mails professionnels</li>
      <li>Commenter son code en anglais</li>
    </ul>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
    <h5>Networker</h5>
    <ul>
      <li>MasterClass</li>
      <li>Meetup</li>
      <li>Savoir communiquer sur les réseaux sociaux</li>
    </ul>
    </div>
  </mat-grid-tile>

</mat-grid-list>
